openapi: 3.0.3
info:
  title: CryptoQuant Exchange Flows API
  description: The CryptoQuant API delivers on-chain, market, exchange flow, and miner metrics for Bitcoin, Ethereum, and other major cryptocurrencies. Endpoints return time-series data covering exchange inflows/outflows, supply, miner reserves, derivatives, network indicators, and stablecoin metrics. Authentication uses API key in the Authorization header.
  version: '1.0'
  contact:
    name: CryptoQuant
    url: https://cryptoquant.com
servers:
- url: https://api.cryptoquant.com/v1
  description: CryptoQuant production API
security:
- BearerAuth: []
tags:
- name: Exchange Flows
  description: Inflow, outflow, and reserve metrics for major exchanges.
paths:
  /btc/exchange-flows/inflow:
    get:
      tags:
      - Exchange Flows
      summary: Bitcoin exchange inflow
      description: Total BTC transferred from external addresses into exchange wallets.
      operationId: getBtcExchangeInflow
      parameters:
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Exchange'
      responses:
        '200':
          description: Time-series of BTC exchange inflow.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesResponse'
  /btc/exchange-flows/outflow:
    get:
      tags:
      - Exchange Flows
      summary: Bitcoin exchange outflow
      operationId: getBtcExchangeOutflow
      parameters:
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Exchange'
      responses:
        '200':
          description: Time-series of BTC exchange outflow.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesResponse'
  /btc/exchange-flows/reserve:
    get:
      tags:
      - Exchange Flows
      summary: Bitcoin exchange reserve
      description: Cumulative BTC balance held in exchange wallets.
      operationId: getBtcExchangeReserve
      parameters:
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Exchange'
      responses:
        '200':
          description: Time-series of BTC exchange reserve.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesResponse'
  /eth/exchange-flows/inflow:
    get:
      tags:
      - Exchange Flows
      summary: Ethereum exchange inflow
      operationId: getEthExchangeInflow
      parameters:
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Exchange'
      responses:
        '200':
          description: Time-series of ETH exchange inflow.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesResponse'
  /eth/exchange-flows/reserve:
    get:
      tags:
      - Exchange Flows
      summary: Ethereum exchange reserve
      operationId: getEthExchangeReserve
      parameters:
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Exchange'
      responses:
        '200':
          description: Time-series of ETH exchange reserve.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesResponse'
components:
  parameters:
    To:
      in: query
      name: to
      description: Inclusive end timestamp.
      schema:
        type: string
    From:
      in: query
      name: from
      description: Inclusive start timestamp (RFC3339 or YYYYMMDDTHHMMSS).
      schema:
        type: string
    Exchange:
      in: query
      name: exchange
      description: Exchange name (e.g. binance, coinbase, kraken, all_exchange).
      schema:
        type: string
        default: all_exchange
    Window:
      in: query
      name: window
      description: Resolution of the time-series.
      schema:
        type: string
        enum:
        - min
        - hour
        - day
        - block
        default: day
  schemas:
    TimeSeriesResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
        result:
          type: object
          properties:
            window:
              type: string
            data:
              type: array
              items:
                $ref: '#/components/schemas/TimeSeriesPoint'
    TimeSeriesPoint:
      type: object
      properties:
        date:
          type: string
          format: date-time
        value:
          type: number
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key passed as bearer token in the Authorization header.
