openapi: 3.0.3
info:
  title: CryptoQuant Exchange Flows On-Chain API
  description: The CryptoQuant API delivers on-chain, market, exchange flow, and miner metrics for Bitcoin, Ethereum, and other major cryptocurrencies. Endpoints return time-series data covering exchange inflows/outflows, supply, miner reserves, derivatives, network indicators, and stablecoin metrics. Authentication uses API key in the Authorization header.
  version: '1.0'
  contact:
    name: CryptoQuant
    url: https://cryptoquant.com
servers:
- url: https://api.cryptoquant.com/v1
  description: CryptoQuant production API
security:
- BearerAuth: []
tags:
- name: On-Chain
  description: Network indicators including SOPR, MVRV, NVT, and active addresses.
paths:
  /btc/network-indicator/sopr:
    get:
      tags:
      - On-Chain
      summary: Bitcoin SOPR
      description: Spent Output Profit Ratio.
      operationId: getBtcSopr
      parameters:
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Time-series of SOPR.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesResponse'
  /btc/network-indicator/mvrv:
    get:
      tags:
      - On-Chain
      summary: Bitcoin MVRV
      description: Market Value to Realized Value ratio.
      operationId: getBtcMvrv
      parameters:
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Time-series of MVRV.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesResponse'
components:
  parameters:
    To:
      in: query
      name: to
      description: Inclusive end timestamp.
      schema:
        type: string
    From:
      in: query
      name: from
      description: Inclusive start timestamp (RFC3339 or YYYYMMDDTHHMMSS).
      schema:
        type: string
    Window:
      in: query
      name: window
      description: Resolution of the time-series.
      schema:
        type: string
        enum:
        - min
        - hour
        - day
        - block
        default: day
  schemas:
    TimeSeriesPoint:
      type: object
      properties:
        date:
          type: string
          format: date-time
        value:
          type: number
    TimeSeriesResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
        result:
          type: object
          properties:
            window:
              type: string
            data:
              type: array
              items:
                $ref: '#/components/schemas/TimeSeriesPoint'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key passed as bearer token in the Authorization header.
