openapi: 3.0.3
info:
  title: CryptoQuant Exchange Flows Market Data API
  description: The CryptoQuant API delivers on-chain, market, exchange flow, and miner metrics for Bitcoin, Ethereum, and other major cryptocurrencies. Endpoints return time-series data covering exchange inflows/outflows, supply, miner reserves, derivatives, network indicators, and stablecoin metrics. Authentication uses API key in the Authorization header.
  version: '1.0'
  contact:
    name: CryptoQuant
    url: https://cryptoquant.com
servers:
- url: https://api.cryptoquant.com/v1
  description: CryptoQuant production API
security:
- BearerAuth: []
tags:
- name: Market Data
  description: Price, open interest, and derivatives metrics.
paths:
  /btc/market-data/price-ohlcv:
    get:
      tags:
      - Market Data
      summary: Bitcoin OHLCV
      operationId: getBtcPriceOhlcv
      parameters:
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: OHLCV time-series for Bitcoin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OhlcvResponse'
  /btc/market-data/open-interest:
    get:
      tags:
      - Market Data
      summary: Bitcoin open interest
      operationId: getBtcOpenInterest
      parameters:
      - $ref: '#/components/parameters/Window'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/Exchange'
      responses:
        '200':
          description: Open interest in derivatives markets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesResponse'
components:
  parameters:
    To:
      in: query
      name: to
      description: Inclusive end timestamp.
      schema:
        type: string
    From:
      in: query
      name: from
      description: Inclusive start timestamp (RFC3339 or YYYYMMDDTHHMMSS).
      schema:
        type: string
    Exchange:
      in: query
      name: exchange
      description: Exchange name (e.g. binance, coinbase, kraken, all_exchange).
      schema:
        type: string
        default: all_exchange
    Window:
      in: query
      name: window
      description: Resolution of the time-series.
      schema:
        type: string
        enum:
        - min
        - hour
        - day
        - block
        default: day
  schemas:
    OhlcvPoint:
      type: object
      properties:
        date:
          type: string
          format: date-time
        open:
          type: number
        high:
          type: number
        low:
          type: number
        close:
          type: number
        volume:
          type: number
    TimeSeriesPoint:
      type: object
      properties:
        date:
          type: string
          format: date-time
        value:
          type: number
    TimeSeriesResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
        result:
          type: object
          properties:
            window:
              type: string
            data:
              type: array
              items:
                $ref: '#/components/schemas/TimeSeriesPoint'
    OhlcvResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
        result:
          type: object
          properties:
            window:
              type: string
            data:
              type: array
              items:
                $ref: '#/components/schemas/OhlcvPoint'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key passed as bearer token in the Authorization header.
